@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 17, 24, 39;
}

html,
body,
#__next {
  height: 100%;
  background-color: rgb(var(--background-start-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 1px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.5);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.3) transparent;
}

ul::-webkit-scrollbar {
  width: 6px; /* Make the scrollbar thin */
}

ul::-webkit-scrollbar-thumb {
  background-color: #83878d; /* Tailwind gray-400 */
  border-radius: 9999px; /* Make it rounded */
}

ul::-webkit-scrollbar-track {
  background-color: #F3F4F6; /* Tailwind gray-100 */
}
