@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

html {
  min-height: 100%;
  background-color: #242933; /* gray-900 */
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: #242933; /* gray-900 */
}

#__next {
  min-height: 100vh;
  background-color: #242933; /* gray-900 */
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

/* For Webkit browsers like Chrome/Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 1px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.5);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.3) transparent;
}

ul::-webkit-scrollbar {
  width: 6px; /* Make the scrollbar thin */
}

ul::-webkit-scrollbar-thumb {
  background-color: #83878d; /* Tailwind gray-400 */
  border-radius: 9999px; /* Make it rounded */
}

ul::-webkit-scrollbar-track {
  background-color: #F3F4F6; /* Tailwind gray-100 */
}
